<:Title>
  Commodities

<:Body>
  <h1>Items for Offer</h1>
  <a href='/commodities_new' class='btn btn-primary'>List new item</a>
  <br />
  <br />
  <table class='table'>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
    {{ page._commodities.each do |commodity| }}
      <tr>
        {{ if commodity._title == page._commodities.first._title }}
          <td><a href='/commodities_show'>{{ commodity._title }}</a></td>
        {{ else }}
          <td>{{ commodity._title }}</td>
        {{ end }}
        <td>{{ commodity._description }}</td>
        <td>{{ commodity._price }}</td>
        <td>{{ if commodity._title == page._commodities.first._title }}<a href='/commodities_offer' class='btn btn-xs btn-info'>Make offer</a>{{ end }}</td>
      </tr>
    {{ end }}
  </table>
  <small>Pagination here..</small>
  <br />
  <br />
