<:Title>
  Home

<:Body>
  <h1>Index of URLs</h1>
  <hr>
  <h2>Roles</h2>
  <h3>Public</h3>
  <a href='/commodities'>Commodities</a><br />
  <a href='/commodities_show'>Show commodity 1</a><br />
  <h3>Buyer</h3>
  <a href='/commodities_offer'>Make offer</a><br />
  <a href='/haggles_buyer'>My Haggles (Buyer)</a><br />
  <h3>Seller</h3>
  <a href='/commodities_new'>List Commodity</a><br />
  <a href='/commodities_edit'>Edit commodity 1</a><br />
  <a href='/haggles_seller'>My Haggles (Seller)</a><br />
  <h4>Both</h4>
  <a href='/haggles_counteroffer'>Make counteroffer</a><br />
