<:Title>
  Offer

<:Body>
  <form e-submit="make_commodity" role="form">
    <div class="form-group">
      <label>Title: </label>
      <button class="btn {{ if !page._new_title.blank? }}btn-warning{{ elsif !page._title.blank? }}btn-info{{ else }}btn-success{{ end }}">
        {{ if !page._new_title.blank? }}
          {{ page._new_title }}
        {{ elsif page._title }}
          {{ page._title }}
        {{ else }}
          Empty
        {{ end }}
      </button>
      <input class="form-control" type="text" value="{{ page._new_title }}" placeholder="Enter title here.." />
      <label>Description: </label>
      <button class="btn {{ if !page._new_description.blank? }}btn-warning{{ elsif !page._description.blank? }}btn-info{{ else }}btn-success{{ end }}">
        {{ if !page._new_description.blank? }}
          {{ page._new_description }}
        {{ elsif page._description }}
          {{ page._description }}
        {{ else }}
          Empty
        {{ end }}
      </button>
      <input class="form-control" type="text" value="{{ page._new_description }}" placeholder="Enter description here.." />
      <label>Price: </label>
      <button class="btn {{ if !page._new_price.blank? }}btn-warning{{ elsif !page._price.blank? }}btn-info{{ else }}btn-success{{ end }}">
        {{ if !page._new_price.blank? }}
          {{ page._new_price }}
        {{ elsif page._price }}
          {{ page._price }}
        {{ else }}
          Empty
        {{ end }}
      </button>
      <input class="form-control" type="text" value="{{ page._new_price }}" placeholder="Enter price here.. (Optional)" />
    </div>
    <button type="submit" class="btn btn-primary">List Commodity</button>
  </form>
